@media(max-width: 1340px){

    .nav-dropdown{
        display: inline-block;
    }
    .menu-tools{
        margin-left: auto;
    }
    .nav-list
    {
        display: none;
    }
}
@media(max-width: 740px){
    .label-name{
        display: none;
    }
    .search-form{
        width: 100px;
    }
}
@media(max-width: 515px){
    .search-form{
        display: none;
    }
    .add-btn{
        padding: 5px 15px;
    }
    .menu-tools{
        font-size: 16px;
    }
    .nav a{
        font-size: 12px;
    }
    .nav{
        font-size: 12px;
    }
    .nav-dropdown.open .nav-content{
        padding: 3px 8px 3px 8px;
    }
    .a-dropdown.open .a-content{
        padding: 3px 8px 3px 8px;
    }
}

