@import"reser.css";
.body{
    font-family: 'Inter',sans-serif;
    color:#000000;
}
.container{
    max-width:1380px;
    margin:0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 0px;
    background-color: #FFFFFF;
}
.header a{
    color: #000000;
    font-family: 'Inter',sans-serif;
}
.header-menu{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.menu-label{
    display: flex;
    column-gap: 18px;
    align-items: center;
    margin-right:18px;
}
.label-name{
    font-weight: 600;
    font-family: 'Inter',sans-serif;
}
.menu-nav{
    margin-right: 24px;
}
.nav-list{
    display: flex;
    column-gap: 48px;
}
.nav-dropdown{
    display: none;
}
.item-dropdown{
    display:inline-block;
}
.item-drop{
    color: #000000;
    font-family: 'Inter',sans-serif;
}
.dropdown-content{
    display: none;
}
.item-dropdown.open .dropdown-content {
    position: absolute;
    display:block;
    border: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 3px 16px 6px 25px;
}
.dropdown-content a{
    display: block;
    font-weight: 600;
}
.nav-content{
    display: none;
}
.nav-dropdown.open .nav-content {
    position: fixed;
    display:block;
    z-index: 2;
    border: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 3px 16px 6px 25px;
    background-color: #ffffff;
}
.nav-content a{
    display: block;
    font-weight: 600;
}
.a-content{
    display: none;
}
.a-drop{
    color: #000000;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
}
.a-dropdown.open .a-content{
    position: absolute;
    display:block;
    border: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 3px 16px 6px 25px;
    background-color: #ffffff;
}
.menu-tools{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.search-form{
    display: flex;
    align-items: center;
    background: #F4F4F4;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 200px;
}
.header-input::placeholder{
    color: #BEBEBE;
    font-family: 'Inter',sans-serif;
}

.form-button:hover {
    cursor: pointer;
}
.add-btn{
    background: #DD987B;
    box-shadow: 0px 3px 5px #4F4F4F;
    border-radius: 5px;
    padding: 11px 30px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.add-project__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 360px;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
}

.popup-footer button {
    font-size: 20px;
    padding: 10px 20px;
}

.send-button {
    background: #2A2A2A;
    box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
}
.works-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
}
