<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <section class="title">
        <div class="container">
            <div class="title-name"><p class="">Создай<br>
                портфолио</p></div>
            <div class="title-info"><p class="">С помощью нашего сервиса ты<br> можешь представить нужный продукт</p></div>
            <div class="title-footer">
                <p class="">lorem Ipsum</p>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container-works">
            <div class="works-column">
                <div class="column-work">
                    <div class="work-name">Andrew</div>
                    <div class="work-title">Кактус</div>
                    <div class="work-image"><img src="image/work.png" alt="" class="work"></div>
                    <div class="work-like">
                        <button class="like-image"><img src="image/like.png" alt="" class="like"></button>
                        <div class="like-count"><p>1565</p></div>
                    </div>
                </div>
                <div class="column-work">
                    <div class="work-name">Andrew</div>
                    <div class="work-title">Кактус</div>
                    <div class="work-image"><img src="image/work.png" alt="" class="work"></div>
                    <div class="work-like">
                        <button class="like-image"><img src="image/like.png" alt="" class="like"></button>
                        <div class="like-count"><p>1565</p></div>
                    </div>
                </div>
                <div class="column-work">
                    <div class="work-name">Andrew</div>
                    <div class="work-title">Кактус</div>
                    <div class="work-image"><img src="image/work.png" alt="" class="work"></div>
                    <div class="work-like">
                        <button class="like-image"><img src="image/like.png" alt="" class="like"></button>
                        <div class="like-count"><p>1565</p></div>
                    </div>
                </div>
                <div class="column-work">
                    <div class="work-name">Andrew</div>
                    <div class="work-title">Кактус</div>
                    <div class="work-image"><img src="image/work.png" alt="" class="work"></div>
                    <div class="work-like">
                        <button class="like-image"><img src="image/like.png" alt="" class="like"></button>
                        <div class="like-count"><p>1565</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>