<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width">
    <link rel="stylesheet" href="myWorks.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <section class="profile">
        <div class="container">
            <div class="profile-menu">
                <div class="menu-avatar"><img src="images/avatar.png" alt="" class="avatar"></div>
                <div class="menu-name"><p class="">Andrew</p></div>
                <button class="menu-redactor">
                    <div class="redactor-icon"><img src="images/pen.png" alt="" class="pen"></div>
                    <div class="redactor-text"><p class="">Редактировать профиль</p></div>
                </button>
            </div>
        </div>
    </section>
    <div class="line"></div>
    <section class="redactor">
        <div class="container">
            <div class="redactor-menu">
                <div class="menu-myWorks">
                    <button class="menu-add"><img src="images/plus.png" alt="" class="plus"></button>
                </div>
                <div class="menu-logo"><img src="images/logo.png" alt="" class="logo"></div>
                <button class="menu-send"><p class="">Отправь фотографии</p></button>
            </div>
        </div>
    </section>
</body>
</html>